Today I want to try some simple ML techniques and do some data cleaning practice.

In [3]:
# Standard Imports
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder, StandardScaler 
from sklearn import metrics 
from sklearn.svm import SVC  
from sklearn.linear_model import LinearRegression, Lasso, Ridge 
from sklearn.ensemble import RandomForestRegressor

In [4]:
#Loading data.  

exercise = pd.read_csv("/Users/shivvinnybhutani/Desktop/Coding Practice/Python/MLCaloriesPracticeData/exercise.csv")
calories = pd.read_csv("/Users/shivvinnybhutani/Desktop/Coding Practice/Python/MLCaloriesPracticeData/calories.csv")

In [5]:
#Lets see exericise head 
exercise.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [6]:
#Lets see exercise shape
exercise.shape

(15000, 8)

In [7]:
#Lets see calories shape 
calories.shape

(15000, 2)

In [8]:
#Lets see calories head
calories.head()

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0
3  16180408      71.0
4  17771927      35.0

In [9]:
#We need to join on User_ID, and lets make sure there are 15000 rows. 
data = pd.merge(exercise,calories, how = "left", on = "User_ID")